= nested_form_for @project, html: { class: 'form-horizontal' } do |f|
  - if @project.errors.any?
    #error_explanation
      %p.lead= "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
      .alert.alert-error
        %ul
          - @project.errors.full_messages.each do |msg|
            %li= msg

  = f.fields_for :jobs do |job_form|
    .form-group
      = f.label :name, 'Name', class: 'control-label'
      .col-sm-10
        = job_form.text_field :name, class: 'form-control', placeholder: "Ex. cucumber"
    .form-group
      = f.label :build_branches, 'Trigger', class: 'control-label'
      .col-sm-10
        .checkbox
          = f.label :build_branches, 'Builds commits', class: ''
          = job_form.check_box :build_branches
        .checkbox
          = f.label :build_tags, 'Build tags', class: ''
          = job_form.check_box :build_tags
    .form-group
      = label_tag :tag_list, class: 'control-label' do
        Tags
      .col-sm-10
        = job_form.text_field :tag_list, class: 'form-control'
        .help-block
          You can setup jobs to only use runners with specific tags.
          Leave blank if you want this job to use any runner

    .form-group
      = f.label :commands, 'Script', class: 'control-label'
      .col-sm-10
        = job_form.text_area :commands, class: 'form-control', rows: 10, placeholder: "bundle exec rake spec"
        %p.light
          All lines will be concatenated into one file and executed.
          %br
          If you change the working directory or the environment this will affect all following lines too.
          %br
          = link_to("Example job scripts", "https://gitlab.com/gitlab-org/gitlab-ci/tree/master/doc/examples")
        = job_form.link_to_remove "Remove this job", class: 'btn btn-danger pull-right'
    %hr
  .clearfix
    = f.link_to_add "Add a job", :jobs, class: 'btn btn-success pull-right'

  .form-actions
    = f.submit 'Save changes', class: 'btn btn-save'

